.item {
  width: 50%;
  display: inline-flex;
  align-items: center;
  border: 1px solid grey;
  padding: 30px;
  margin: 20px 0;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.avatar {
  width: 5%;
  border-radius: 30%;
  border: 0.3px solid lightgrey;
  padding: 5px;
  margin-left: 15px;
}

.name {
  margin-left: 20px;
}
